.imghead {
    font-family: 'Baloo', cursive;
    background-image: url('/images/PartyGroup02.jpg');
    opacity: .7;
    margin: auto;
    background-position: bottom center;
    background-size: cover;
    height: 4em;
    color: #ffffff;
    padding-top: 2.5em;
    padding-left: .5em;
    font-size: 3.5em;
    text-shadow: 4px 4px 5px #000;
}

.navbar {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.25em;
    position: static;
    top: 340px;
    z-index: 100;
    background-color: rgba(240, 240, 240, .9);
}

.navbarAffix {
    position: fixed;
    overflow: auto;
    opacity: .95;
    top: 0;
    font-size: 1em;
    width: 100%;
    left: 1em;
    font-family: 'PT Sans', sans-serif;
}

@media (min-width: 369px) {
    .imghead {
        background-image: url('/images/PartyGroup02.jpg');
        font-size: 2.5em;
        text-shadow: 3px 3px 3px #000;
    }
    .nav > li {
        position: static !important;
    }
}

@media (min-width: 987px) {
    .imghead {
        background-image: url('/images/PartyGroup02.jpg');
        opacity: .7;
        height: 4.5em;
        padding-top: 3em;
        padding-left: .5em;
        font-size: 5em;
        text-shadow: 3px 3px 3px #000;
    }
    .nav > li {
        position: static !important;
    }
    .navbar-brand {
        padding-left: 2.5em;
    }
}

@media (min-width: 1196px) {
    .imghead {
        opacity: .75;
        background-position: center;
        height: 5em;
        padding-top: 3.8em;
        padding-left: .5em;
        font-size: 5em;
        text-shadow: 5px 5px 5px #000;
    }
    .nav > li {
        position: static !important;
    }
    .navbar-brand {
        padding-left: 2.5em;
    }

}

#registerNav {
  display: inline;
}

#loginNav {
  display: inline;
}

#logoutNav {
  display: none;
}

#createNav {
  display: none;
}

