  .affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

  body {
      /*background-color: #EEE;*/
      background-color: #000;
      font-family: 'Baloo', cursive;
      font-family: 'PT Sans', sans-serif;
  }

  body h1 {
      color: #244751;
  }

  main {
      position: relative;
  }
